<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45861888239-dq70s2mbua4hp2ksnkr1opue1114s39e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45861888239-dq70s2mbua4hp2ksnkr1opue1114s39e</string>
	<key>API_KEY</key>
	<string>AIzaSyB3BN9_TMrqfN_YYR9tFgO-YktHJwdAOnk</string>
	<key>GCM_SENDER_ID</key>
	<string>45861888239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.goldScraper</string>
	<key>PROJECT_ID</key>
	<string>gold-scraper</string>
	<key>STORAGE_BUCKET</key>
	<string>gold-scraper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45861888239:ios:69e7031e48a9b37b76fb1a</string>
</dict>
</plist>